body,
p,
#main,
#canvas,
#letter,
#clock-box {
  margin: 0;
  padding: 0;
}

/* Style for the body element */
body {
  background: #ffe;
  font: 14px/1.4 "Microsoft YaHei", "SimSun", sans-serif;
}

/* Style for the main container and the canvas */
#main,
#canvas {
  width: 1100px;
  height: 680px;
}

/* Positioning the main container */
#main {
  position: relative;
}

/* Style for the letter section */
#letter {
  position: absolute;
  width: 400px;
  height: 425px;
  left: 60px;
  top: 80px;
  display: none;
  font-size: 16px;
  color: #228567;
}

/* Style for the clock container */
#clock-box {
  position: absolute;
  left: 60px;
  top: 550px;
  font-size: 28px;
  opacity: 0;
  transition: opacity 0.5s;
}

/* Style for the clock text */
#clock-text {
  color: gray;
}

/* Style for the name elements */
.name {
  color: black;
}

/* Style for the clock digits */
#clock {
  margin-left: 48px;
}

#clock .digit {
  font-size: 64px;
}
